@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	position: relative;
	box-sizing: border-box;
	font-family: 'NanumSquareNeo-Variable';
    overflow-x: hidden;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    h1, h2, h3, h4, h5, h6, p, span {
        word-break: break-all;
    }
}

@layer components {
    /* Header */
    .header-title {
        @apply font-[GmarketSansMedium] font-[900] h-[42px] text-[34px] leading-[38px] cursor-pointer mr-[28px]
        border-solid border-b-[6px] border-b-transparent hover:border-black !overflow-y-clip
    }
    .header-sub {
        @apply font-[GmarketSansMedium] text-[14px] leading-[16p] font-[700] py-[2px] cursor-pointer mr-[16px]
        border-solid border-b-[4px] border-b-transparent hover:border-black
    }
    .header-sub-sub {
        @apply border-solid border-b-[4px] border-b-transparent hover:border-black cursor-pointer
    }

    /* Bottom */
    .bottom-notice {
        @apply text-[12px] leading-[12px] mt-[12px] h-[14px] flex justify-center items-center cursor-pointer border-b-transparent border-b-[1px] border-solid hover:border-b-black
    }
}
